


    <div class="modal fade" tabindex="-1" role="dialog" id="myModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Message send confirmation</h4>
                </div>
                <div class="modal-body">
                    <h4 id="title"></h4>
                    <p><b>To</b></p>
                    <p id="to"></p>
                    <p><b>Message</b></p>
                    <p id="message"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="button" id="send" class="btn btn-primary">Send</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

<!-- warning modal -->
    <div class="modal fade" tabindex="-1" role="dialog" id="warningModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h2 class="modal-title">{{ 'Translate-popup-heading'|trans }}</h2>
                </div>
                <div class="modal-body">
                    <p>{{ 'Translate-popup-content'|trans }}<img src="http://home.nzcity.co.nz/photos/objects-earth-disaster.gif" /></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default"
data-dismiss="modal">{{'Translate-popup-button-no'|trans }}</button>
                    <button type="button" id="send" class="btn
btn-primary" onclick="window.open('{{ app.request.getBaseURL()}}/_trans/', '_blank')" data-dismiss="modal">{{
'Translate-popup-button-yes'|trans }}</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->


<div id="import-modal-placeholder" style="display:none">&nbsp;</div>

<!-- Bootstrap Core JavaScript -->
<script src="/api/web/assets/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<!--<script src="/api/web/assets/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>-->

<!-- Metis Menu Plugin JavaScript -->
<script src="/api/web/assets/bower_components/metisMenu/dist/metisMenu.js"></script>
<!--<script src="/api/web/assets/bower_components/metisMenu/dist/metisMenu.js"></script>-->

{% if charts is defined %}
<!-- Morris Charts JavaScript -->
<script src="/api/web/assets/bower_components/raphael/raphael-min.js"></script>
<script src="/api/web/assets/bower_components/morrisjs/morris.min.js"></script>
<script src="/api/web/assets/js/morris-data.js"></script>
{% endif %}

<!--<script src="/api/web/assets/bower_components/datatables/media/js/jquery.dataTables.min.js"></script>-->
<!--<script src="/api/web/assets/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js"></script>-->
<script src="/api/web/assets/bower_components/datatables/media/js/jquery.dataTables.min.js"></script>
<script src="/api/web/assets/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js"></script>

{% if tables is defined %}
<!-- DataTables JavaScript -->
<!--<script src="/api/web/assets/bower_components/datatables/media/js/jquery.dataTables.min.js"></script>
<script src="/api/web/assets/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js"></script>-->

<script>
$(document).ready(function() {
    $('#dataTables-example').DataTable( {
        initComplete: function () {
            this.api().columns([2]).every( function () {
                var column = this;
                var select = $('<select><option value=""></option></select>')
                    .appendTo( $(column.footer()).empty() )
                    .on( 'change', function () {
                        var val = $.fn.dataTable.util.escapeRegex(
                            $(this).val()
                        );
 
                        column
                            .search( val ? '^'+val+'$' : '', true, false )
                            .draw();
                    } );
 
                column.data().unique().sort().each( function ( d, j ) {
                    select.append( '<option value="'+d+'">'+d+'</option>' )
                } );
            } );
        }
    } );
} );
</script>

<script>
    function pop_warning(){
        $('#warningModal').appendTo("body").modal('show');
     
    }

$("ul#side-menu li a").click(function() {
    var uli = $(this).find('ul');
         //alert(uli);
    if(uli.hasClass("in"))// && !$(this).hasClass('active'))
    {
         //$(this).addClass('active');
         alert('yet');
    }
        
});

</script>

{% endif %}

<!-- custom import script -->
<!--<script src="/api/web/assets/js/import-module.js"></script>-->
<!--<script src="/api/web/assets/js/sb-admin-2.js"></script>-->
<script src="/api/web/assets/js/import-module.js"></script>
<script src="/api/web/assets/js/sb-admin-2.js"></script>
<script src="/api/web/assets/js/treetable.js"></script>

</body>

</html>
