{% extends "EDUBundle::layout.html.twig" %}

{% block cmi_body %}
    <div class="row">
        <div class="col-lg-12">
            <a href="{{ base_url}}/user/add" class="btn btn-success btn-xs">{{ 'Add New User'|trans }}</a>
            <br /><br />
            <div class="panel panel-default">
                <div class="panel-body">
                    <table width="100%" class="table table-striped table-bordered table-hover dataTable no-footer dtr-inline" id="dataTables-example" role="grid" aria-describedby="dataTables-example_info" style="width: 100%;">
                        <thead>
                            <tr role="row">
                                <th  tabindex="0"  rowspan="1" colspan="1" >{{ 'Name'|trans }}</th>
                                <th  tabindex="0"  rowspan="1" colspan="1" >{{ 'Email'|trans }}</th>
                                <th  tabindex="0"  rowspan="1" colspan="1" >{{
'Department'|trans }}</th>
                                <th  tabindex="0"  rowspan="1" colspan="1" >{{ 'Actions'|trans }}</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr role="row">
                                <th  tabindex="0"  rowspan="1" colspan="1" >{{ 'Name'|trans }}</th>
                                <th  tabindex="0"  rowspan="1" colspan="1" >{{ 'Email'|trans }}</th>
                                <th  tabindex="0"  rowspan="1" colspan="1" >{{
'Department'|trans }}</th>
                                <th  tabindex="0"  rowspan="1" colspan="1" >{{ 'Actions'|trans }}</th>
                            </tr>
                        </tfoot>
                        <tbody>
                        {%  for user in users %}
                            {% if user.enabled %}
                                {% if user.updated is null or not user.updated %}
                                    <tr class="gradeA odd" role="row">
                                        <td>
                                            {{ user.firstname }} {{ user.lastname }}
                                        </td>
                                        <td>
                                            {{ user.email }}
                                        </td>
                                        <td>
                                           {{ user.department }}  
                                        </td>
                                        <td>
                                            
                                            <input type="buton" class="btn btn-xs btn-primary" style="width:69px;" value="{{ 'View'|trans }}"  onclick="detail({{ user.id }})">
                                            </input>  
                                            
                                            
                                            <a href="{{ base_url }}/user/edit/{{ user.id }}" class="btn btn-xs btn-default">{{ 'Edit'|trans }}</a>
                                            <a href="{{ base_url }}/user/delete/{{ user.id }}" class="btn btn-xs btn-danger">{{ 'Delete'|trans }}</a>
                                        </td>
                                    </tr>
                                {% else %}
                                    <tr class="gradeA odd" role="row">
                                        <td>
                                            <b>{{ user.firstname }} {{ user.lastname }}</b>
                                        </td>
                                        <td>
                                            <b>{{ user.email }}</b>
                                        </td>
                                        <td>
                                            <b>{{ user.phoneNumber }}</b>
                                        </td>
                                        <td>
                                           
                                              <input type="buton" class="btn btn-xs btn-primary" style="width:69px;" value="{{ 'View'|trans }}"  onclick="detail({{ user.id }})">
                                             </input>  
                                            
                                            
                                            <a href="{{ base_url }}/user/edit/{{ user.id }}" class="btn btn-xs btn-default">{{ 'Edit'|trans }}</a>
                                            <a href="{{ base_url }}/user/delete/{{ user.id }}" class="btn btn-xs btn-danger">{{ 'Delete'|trans }}</a>
                                        </td>
                                    </tr>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
<!--moodle-->


  {%  for user in users %}
    {% if user.enabled %}
    {% if user.updated is null or not user.updated %}   
    
    
    <div class="container">
  <!-- Modal -->
  <div class="modal fade" id="detail_{{ user.id }}" role="dialog" tabindex="-1">
    
  
    <div class="modal-dialog" role="document">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;
          </button>
          <h4 class="modal-title"><b>{{ 'user-all-popup-heading'|trans }}</b>
          </h4>
        </div>
        <div class="modal-body">
           <a href="{{base_url}}/user/edit/{{ user.id }}" class="btn btn-sm btn-default">{{ 'Edit'|trans }} {{ user.username }} </a>
          </a>
          <br/>
          <br/>
          <table width="100%" class="table table-striped table-bordered table-hover dataTable no-footer dtr-inline" id="dataTables-example" role="grid" aria-describedby="dataTables-example_info" style="width: 100%;">
             <table width="100%" class="table table-striped table-bordered table-hover dataTable no-footer dtr-inline" id="dataTables-example" role="grid" aria-describedby="dataTables-example_info" style="width: 100%;">
                        <tbody>
                            <tr class="gradeA odd" role="row">
                                <td>
                                    {{ 'allUser-Username'|trans }}
                                </td>
                                <td>
                                    {{ user.username }} 
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    {{ 'allUser-Name'|trans }}
                                </td>
                                <td>
                                    {{ user.firstname }} {{ user.lastname }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    {{ 'allUser-Email'|trans }}
                                </td>
                                <td>
                                    {{ user.email }}
                                </td>
                            </tr>
                            <!-- new-->
                            <tr>
                                <td>
                                    {{ 'allUser-Role'|trans }}
                                </td>
                                <td>
                                
                                {% for user in user.getRoles() %}
                                      
                   
                                        {% if user =='ROLE_ADMIN' %}
                                               <span> {{ 'user_admin'|trans }}</span></br>
                                        {% endif %}
                                        {% if user =='EMPLOYEE' %}
                                               <span> {{ 'EMPLOYEE'|trans }}</span></br>
                                        {% endif %}
                                     
                                {% endfor %}
                                      
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    {{ 'Department'|trans }}
                                </td>
                                <td>
                                     {{ user.department }} 
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    {{ 'allUser-Language'|trans }}
                                </td>
                                <td>
                                    {% if user.locale =='fr' %}
                                        <span> {{ 'user_language_france'|trans }}</span>
                                    {% endif %}
                                    {% if user.locale =='nl' %}
                                        <span> {{ 'user_language_netherland'|trans }}</span>
                                    {% endif %}
                                     {% if user.locale =='en' %}
                                        <span> {{ 'user_language_english'|trans }}</span>
                                    {% endif %}
                                    
                                    
                                </td>
                            </tr>
                             <tr>
                                <td>
                                    {{ 'allUser-Address'|trans }}
                                </td>
                                <td>
                                    {{ user.contact.address }}
                                </td>
                            </tr>
                              <tr>
                                <td>
                                    {{ 'allUser-Postcode'|trans }}
                                </td>
                                <td>
                                    {{ user.contact.postCode }}
                                </td>
                            </tr>
                              
                                <tr>
                                <td>
                                    {{ 'allUser-conatct_number'|trans }}
                                </td>
                                <td>
                                    {{ user.contact.contactNumber }}
                                </td>
                            </tr>
                        
                            <!--  -->
                            <tr>
                                <td>
                                    {{ 'allUser-phoneNumber'|trans }}
                                </td>
                                <td>
                                    {{ user.phoneNumber }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    {{ 'allUser-lastLogin'|trans }}
                                </td>
                                <td>
                                    {{ user.lastlogin|date('Y-m-d H:i:s') }}
                                </td>
                            </tr>
                        </tbody>
                    </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
    {% else %}
         <div class="container">
  <!-- Modal -->
  <div class="modal fade" id="detail_{{ user.id }}" role="dialog" tabindex="-1">
    
  
    <div class="modal-dialog" role="document">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;
          </button>
          <h4 class="modal-title"><b>{{ 'user-all-popup-heading'|trans }}</b>
          </h4>
        </div>
        <div class="modal-body">
          </a>-->
           <a href="{{base_url}}/user/edit/{{ user.id }}" class="btn btn-sm btn-default">{{ 'Edit'|trans }} {{ user.username }} </a>
          </a>
          <br/>
          <br/>
          <table width="100%" class="table table-striped table-bordered table-hover dataTable no-footer dtr-inline" id="dataTables-example" role="grid" aria-describedby="dataTables-example_info" style="width: 100%;">
             <table width="100%" class="table table-striped table-bordered table-hover dataTable no-footer dtr-inline" id="dataTables-example" role="grid" aria-describedby="dataTables-example_info" style="width: 100%;">
                        <tbody>
                            <tr class="gradeA odd" role="row">
                                <td>
                                    {{ 'allUser-Username'|trans }}
                                </td>
                                <td>
                                    {{ user.username }} 
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    {{ 'allUser-Name'|trans }}
                                </td>
                                <td>
                                    {{ user.firstname }} {{ user.lastname }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    {{ 'allUser-Email'|trans }}
                                </td>
                                <td>
                                    {{ user.email }}
                                </td>
                            </tr>
                             <tr>
                                <td>
                                    {{ 'allUser-Role'|trans }}
                                </td>
                                <td>
                                   {% for user in user.getRoles() %}
                                      
                                        {% if user =='ROLE_ADMIN' %}
                                               <span> {{ 'user_admin'|trans }}</span></br>
                                        {% endif %}
                                        {% if user =='ROLE_PARENT' %}
                                               <span> {{ 'user_parent'|trans }}</span></br>
                                        {% endif %}
                                        {% if user =='ROLE_TEACHER' %}          
                                               <span> {{ 'user_teacher'|trans }}</span></br>
                                        {% endif %}
                                        {% if user =='ROLE_STUDENT' %}          
                                               <span> {{ 'user_student'|trans }}</span></br>
                                        {% endif %}
                                   
                                {% endfor %}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    {{ 'allUser-Language'|trans }}
                                </td>
                                <td>
                                    {% if user.locale =='fr' %}
                                        <span> {{ 'user_language_france'|trans }}</span>
                                    {% endif %}
                                    {% if user.locale =='nl' %}
                                        <span> {{ 'user_language_netherland'|trans }}</span>
                                    {% endif %}
                                    {% if user.locale =='en' %}
                                        <span> {{ 'user_language_english'|trans }}</span>
                                    {% endif %}
                                    
                                    
                            
                                </td>
                            </tr>
                             <tr>
                                <td>
                                    {{ 'allUser-Address'|trans }}
                                </td>
                                <td>
                                    {{ user.contact.address }}
                                </td>
                            </tr>
                              <tr>
                                <td>
                                    {{ 'allUser-Postcode'|trans }}
                                </td>
                                <td>
                                    {{ user.contact.postCode }}
                                </td>
                            </tr>
                              
                                <tr>
                                <td>
                                    {{ 'allUser-conatct_number'|trans }}
                                </td>
                                <td>
                                    {{ user.contact.contactNumber }}
                                </td>
                            </tr>
                                
                            <tr>
                                <td>
                                    {{ 'user.phoneNumber'|trans }}
                                </td>
                                <td>
                                    {{ user.phoneNumber }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    {{ 'allUser-lastLogin'|trans }}
                                </td>
                                <td>
                                    {{ user.lastlogin|date('Y-m-d H:i:s') }}
                                </td>
                            </tr>
                        </tbody>
                    </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
   
{% endif %}
 
{% endif %}

    {% endfor %}  
    
{% endblock %}
