{% extends "EDUBundle::layout.html.twig" %}

{% block cmi_body %}
    <div class="row">
        <div class="col-lg-12">
            <a href="{{ base_url}}/departments/new" class="btn btn-success
btn-xs">{{ 'Add New Department'|trans }}</a>
            <br /><br />
            <div class="panel panel-default">
                <div class="panel-body">
                    <table width="100%" class="table table-striped table-bordered table-hover dataTable no-footer dtr-inline" id="dataTables-example" role="grid" aria-describedby="dataTables-example_info" style="width: 100%;">
                        <thead>
                            <tr role="row">
                                <th  tabindex="0"  rowspan="1" colspan="1" >{{ 'Id'|trans }}</th>
                                <th  tabindex="0"  rowspan="1" colspan="1" >{{ 'Name'|trans }}</th>
                                <th  tabindex="0"  rowspan="1" colspan="1" >{{ 'Actions'|trans }}</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for department in departments %}
                                    <tr class="gradeA odd" role="row"
data-id="{{ department.id }}" {{ (department.getParentid)
? "data-parent=#{department.getParentid.id} data-level=2" : 'data-level=1 '  }} >
                                        <td data-column="name"  >
                                            {{ department.id }}
                                        </td>
                                        <td  >
                                            {{ department.name }}
                                        </td>
                                        <td>
                                            <a href="{{ base_url }}/departments/{{ department.id }}" class="btn btn-xs btn-primary">{{ 'View'|trans }}</a>
                                            <a href="{{ base_url }}/departments/{{ department.id }}/edit" class="btn btn-xs btn-default">{{ 'Edit'|trans }}</a>
                                            <a href="{{ base_url
}}/departments/{{ department.id }}" class="btn btn-xs btn-danger">{{ 'Delete'|trans }}</a>

                                        </td>
                                    </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}
