{% extends "EDUBundle::layout.html.twig" %}

{% block cmi_body %}
    <div class="row">
        <div class="col-lg-12">
            <a href="{{ base_url}}/departments/" class="btn btn-success
btn-xs">{{ 'Back to List'|trans }}</a>
            <br /><br />
            <div class="panel panel-default">
                <div class="panel-body">
                    <table width="100%" class="table table-striped table-bordered table-hover dataTable no-footer dtr-inline" id="dataTables-example" role="grid" aria-describedby="dataTables-example_info" style="width: 100%;">
                        <thead>
                            <tr role="row">
                                <th  tabindex="0"  rowspan="1" colspan="1" >{{ 'Id'|trans }}</th>
                                <th  tabindex="0"  rowspan="1" colspan="1" >{{ 'Name'|trans }}</th>
                                <th  tabindex="0"  rowspan="1" colspan="1" >{{ 'Actions'|trans }}</th>
                            </tr>
                        </thead>
                        <tbody>
                                    <tr class="gradeA odd" role="row">
                                        <td>
                                            {{ department.id }}
                                        </td>
                                        <td>
                                            {{ department.name }}
                                        </td>
                                        <td>
                                            
                                            <a href="{{ base_url }}/departments/{{ department.id }}/edit" class="btn btn-xs btn-default">{{ 'Edit'|trans }}</a>

            {{ form_start(delete_form) }}
                <input class="btn btn-xs btn-danger" type="submit" value="Delete">
            {{ form_end(delete_form) }}

                                        </td>
                                    </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}
