{% extends "EDUBundle::layout.html.twig" %}

{% block cmi_body %}
    <div class="row">

        <div class="col-lg-12">
            <a href="{{ base_url}}/departments/" class="btn btn-success btn-xs">{{ 'Back to List'|trans }}</a>
            </div>
        <div class="col-md-2">
        </div>
        <div class="col-md-6">
            {{ form_start(edit_form) }}
            {{ form_widget(edit_form) }}
            {{ form_end(edit_form) }}
        </div>
    </div>
{% endblock %}
