{% extends "EDUBundle::layout.html.twig" %}

{% block cmi_body %}
    <div class="row">
            <div class="panel panel-default">
                <div class="panel-body">
                    <table width="100%" class="table table-striped table-bordered table-hover dataTable no-footer dtr-inline" id="dataTables-example" role="grid" aria-describedby="dataTables-example_info" style="width: 100%;">
                        <thead>
                            <tr role="row">
                                <th  tabindex="0"  rowspan="1" colspan="1" >{{
'Action'|trans }}</th>
                                <th  tabindex="0"  rowspan="1" colspan="1" >{{
'Target User'|trans }}</th>
                                <th  tabindex="0"  rowspan="1" colspan="1" >{{
'Date'|trans }}</th>
                                <th  tabindex="0"  rowspan="1" colspan="1" >{{
'by'|trans }}</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for log in logs %}
                                    <tr class="gradeA odd" role="row">
                                        <td>
                                            {{ log.action }}
                                        </td>
                                        <td>
                                            {{ log.getTargetuser.username }}
                                        </td>
                                        <td>
                                            {{ log.getDatetime|date('Y-m-d H:i:s')  }}
                                        </td>
                                        <td>
                                            {{ log.getUser.username  }}
                                        </td>
                                    </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}
