{% extends "EDUBundle::layout.html.twig" %}
    
{% block cmi_body %}
    <div class="row">
        <div class="col-lg-12">
            <a href="{{ base_url}}/departments/" class="btn btn-success btn-xs">{{ 'Back to List'|trans }}</a>
            <br /><br />
</div>
        <div class="col-md-2">
            
        </div>
        <div class="col-md-6">
    {{ form_start(form) }}
        {{ form_widget(form) }}
    {{ form_end(form) }}

        </div>
    </div>
{% endblock %}
